    .google-map iframe {
        width: 100%;
    }
    .contact-form {
        position: relative;
    }
    .contact-form input, .contact-form input:focus, .contact-form input::placeholder,
    .contact-form textarea, .contact-form textarea:focus, .contact-form textarea::placeholder{
        color: #ffffff;
    }
    .contact-form .form-control {
        background: transparent;
        border-radius: 2px;
        outline: none;
        box-shadow: none;
        font-weight: bold;
        margin: 16px 0;
    }
    .contact-form .form-control:not(textarea) {
        height: 48px;
    }
    .contact-form .form-control:hover, .contact-form .form-control:focus {
        border-color: blue;
    }
    .contact-form .submit-btn {
        background: blue;
        border-radius: 50px;
        color: #ffffff;
        font-weight: bold;
        border: 0;
        cursor: pointer;
        transition: all 0.4s ease;
    }
    .contact-form .submit-btn:hover {
        background: #0d7880;
    }
    .contact-info {
        background: #0d7880;
        border-radius: 0 0 3px 3px;
        position: relative;
        bottom: 8px;
    }
    .contact-info p, .contact-info a {
        color: #f7f3f3;
    }